
/*

Blue - #0fb6b8
Yellow - #f9b521
Pink - #ff6161

*/

@font-face {
    font-family: 'shookenregular';
    src: url('shooken-webfont.woff2') format('woff2'),
         url('shooken-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Assistant', sans-serif;
    color: #333;
	font-size: 17px;
	letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'shookenregular', cursive;
}

h2, h3, h4 { 
	letter-spacing: 2px;
}

.row {
	margin-bottom: 0px;
}

.btn-large {
    background-color: rgba(255, 255, 255, 0);
    text-transform: none;
    border-radius: 30px;
    border: 2px solid #0fb6b8;
	color: #0fb6b8;
    height: 48px;
    min-width: 140px;
    line-height: 45px;
    transition: 0.2s;
    box-shadow: none;
	font-weight: 700;
}

.btn-large.byc-white {
	color: #fff;
	border-color: #fff;
}

.btn-large.byc-white:hover {
	background-color: rgba(255,255,255,0);
}

.btn-large.byc-yellow {
	color: #f9b521;
	border-color: #f9b521;
}

.btn-large.byc-yellow:hover {
	background-color: #f9b521;
}

.btn-large.byc-pink{
	color: #ff6161;
	border-color: #ff6161;
}

.btn-large.byc-pink:hover {
	background-color: #ff6161;
}

.btn-large:hover {
	color: #fff;
}

nav {
    background-color: #0fb6b8;
    box-shadow: none;
}

.section.hero {
    background-image: url('../img/byc-bg-v2.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    color: #fff;
    min-height: 500px;
}

.section.hero h1 {
    margin-bottom: 0px !important;
    letter-spacing: 5px;
}

.section.hero h5 { 
    font-family: 'Assistant', Arial, sans-serif;
    font-size: 22px;
	margin-bottom: 30px!important;
}

.section.hero .btn-large {
    background-color: rgba(255, 255, 255, 0);
    text-transform: none;
	color: #fff;
    border-radius: 30px;
    border: 2px solid #fff;
    height: 48px;
    min-width: 140px;
    line-height: 45px;
    transition: 0.2s;
    box-shadow: none;
}

.section.hero .btn-large:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.nav-wrapper img  {
    height: 60px;
}

.expand {
    transition: all .2s ease-in-out;
}

.expand:hover {
    transform: scale(1.05);
}

.icon-block img {
    max-width: 170px;
    display: block;
    margin: 0 auto;
}

.three-col-options {
    margin-top: 50px;
    margin-bottom: 50px;
}

.three-col-options h2 {
    font-size: 38px;
}

.three-col-options h2.byc-yellow {
color: #f9b521;
}

.three-col-options h2.byc-blue {
color: #0fb6b8;
}


.three-col-options h2.byc-pink {
color: #ff6161;
}

.row.byc-blue-bg {
	color: #fff;
	background-color: #0fb6b8;
}

.row.byc-pink-bg {
	color: #fff;
	background-color: #ff6161;
}

.row.byc-yellow-bg {
	color: #fff;
	background-color: #f9b521;
}

.who-are-we {
	min-height: 100%;
}

.who-are-we img {
	max-width: 100%;
}

.who-are-we .byc-content-bg {
	background-image: url('../img/who-are-we.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: top;
	min-height: 500px;
	padding: 0px;
}

.who-are-we .col {
	padding: 0px;
}

.better-future {
	min-height: 100%;
}

.better-future .byc-content-bg {
	background-image: url('../img/betterfuture.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: top;
	min-height: 500px;
	padding: 0px;
}

.better-future .col {
	padding: 0px;
}

.byc-content {
	padding: 70px 70px 70px 70px;
}

.byc-content h3 {
	margin-bottom: 30px;
}

.featured-stores {
	background-color: #f9b521;
}

.featured-stores .card {
	box-shadow: none;
	webkit-box-shadow: none;
}

.featured-stores .card-image span.card-title {
	transition: 0.3s all;
}

.featured-stores .card-image img {
	transition: 0.3s;
}

.featured-stores .card-image img:hover {
	opacity: 0.8;
}

.featured-stores {
	padding-top: 60px;
	padding-bottom: 60px;
}

.featured-stores .card .card-content {
	/*color: #0fb6b8;*/
	background-color:  #f9b521;
	color: #fff;
	text-align: center;
}

.featured-stores .card .card-title {
	font-size: 19px;
	letter-spacing: 0.4px;
	font-weight: 400;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
}

.featured-stores .card .card-image .card-title { 
	top: 0;
	bottom: initial;
	padding: 10px;
}

.featured-stores span.card-title {
	opacity: 0;
	background-color: rgba(0,0,0,0.35);
	width: 100%;
}

.featured-stores .card-image:hover span.card-title {
	opacity: 1;
}

.featured-stores h4 {
	margin-bottom: 30px;
	color: #fff;
	/*color: #0fb6b8;*/
}

.row.growth-opportunities, .row.living-in-sc {
	margin-top: 60px;
	margin-bottom: 60px;
}

.growth-opportunities {	
	color: #ff6161;
}

.growth-opportunities h3 {
	color: #ff6161;
}

.growth-opportunities img {
	max-width:  450px;
}

.living-in-sc {	
	color: #0fb6b8;
}

.living-in-sc  h3 {
	color: #0fb6b8;
	margin-bottom: 20px;
}


.living-in-sc img {
	max-width: 100%;
}

.why-tourism a {
	color: #fff;
}

.why-tourism {
	background-image: url('../img/coral-bg.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.why-tourism .byc-content {
	padding: 70px 70px 70px 70px!important;
}

.byc-page .page-title.valign-wrapper {
	height: 300px!important;
	background-image: url('/img/page-title-bg-2.jpg');
	background-size: cover;
}

.byc-page.business-hub .page-title.valign-wrapper {
	height: 300px!important;
	background-image: url('/img/page-title-bg-4.jpg')!important;
	background-size: cover;
}

.byc-page.visitor-info-page .page-title.valign-wrapper {
	height: 300px!important;
	background-image: url('/img/page-title-bg-3.jpg')!important;
	background-size: cover;
}


.byc-page .page-title h1 {
	color: #fff;
	letter-spacing: 3px;
}

.byc-page h4 { 
	font-size: 26px;
}

.inner-byc-container { 
	margin-top: 60px;
}

.byc-page .byc-section {
	margin-top: 60px;
	margin-bottom: 60px;
}

.add-store .section {
	margin-top: 60px;
	margin-bottom: 60px;
}

@media (max-width: 992px) {
	.icon-block img {
		max-width: 100px;
	}
	.three-col-options h2 {
		font-size: 20px;
	}
}

@media (max-width: 992px) {
	.icon-block img {
		max-width: 170px;
	}
	.three-col-options h2 {
		font-size: 28px;
	}
	
	.three-col-options .icon-block {
		margin-bottom: 40px;
	}
}