
/*

Blue - #0fb6b8
Yellow - #f9b521
Pink - #ff6161

*/

@font-face {
    font-family: 'shookenregular';
    src: url('shooken-webfont.woff2') format('woff2'),
         url('shooken-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Assistant', sans-serif;
    color: #333;
	font-size: 17px;
	letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'shookenregular', cursive;
}

h2, h3 { 
	letter-spacing: 2px;
}

.btn-large {
    background-color: rgba(255, 255, 255, 0);
    text-transform: none;
    border-radius: 30px;
    border: 2px solid #0fb6b8;
	color: #0fb6b8;
    height: 48px;
    min-width: 140px;
    line-height: 45px;
    transition: 0.2s;
    box-shadow: none;
	font-weight: 700;
}

.btn-large.byc-white {
	color: #fff;
	border-color: #fff;
}

.btn-large.byc-white:hover {
}

.btn-large.byc-yellow {
	color: #f9b521;
	border-color: #f9b521;
}

.btn-large.byc-yellow:hover {
	background-color: #f9b521;
}

.btn-large.byc-pink{
	color: #ff6161;
	border-color: #ff6161;
}

.btn-large.byc-pink:hover {
	background-color: #ff6161;
}

.btn-large:hover {
	color: #fff;
}

nav {
    background-color: #0fb6b8;
    box-shadow: none;
}

.section.hero {
    background-image: url('../img/byc-bg-v2.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    color: #fff;
    min-height: 500px;
}

.section.hero h1 {
    margin-top: 80px;
    margin-bottom: 0px !important;
    letter-spacing: 5px;
}

.section.hero h5 { 
    font-family: 'Assistant', Arial, sans-serif;
    font-size: 22px;
}

.section.hero .btn-large {
    background-color: rgba(255, 255, 255, 0);
    text-transform: none;
	color: #fff;
    border-radius: 30px;
    border: 2px solid #fff;
    height: 48px;
    min-width: 140px;
    line-height: 45px;
    transition: 0.2s;
    box-shadow: none;
}

.section.hero .btn-large:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.nav-wrapper img  {
    height: 60px;
}

.expand {
    transition: all .2s ease-in-out;
}

.expand:hover {
    transform: scale(1.05);
}

.icon-block img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.three-col-options {
    margin-top: 50px;
    margin-bottom: 50px;
}

.three-col-options h2 {
    font-size: 38px;
}

.three-col-options h2.byc-yellow {
color: #f9b521;
}

.three-col-options h2.byc-blue {
color: #0fb6b8;
}


.three-col-options h2.byc-pink {
color: #ff6161;
}

.row.byc-blue-bg {
	color: #fff;
	background-color: #0fb6b8;
}

.who-are-we {
	min-height: 100%;
}

.who-are-we .byc-content-bg {
	background-image: url('../img/who-are-we.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: top;
	min-height: 500px;
	padding: 0px;
}

.who-are-we .col {
	padding: 0px;
}

.byc-content {
	padding: 70px;
}

.byc-content h3 {
	margin-bottom: 30px;
}